.container {

  .titleStyle {
    position: absolute;
    left:16vw;
    display: table-cell;
    width: 80px;
    line-height: 1.8rem;
    color: black;
    vertical-align: middle;
    font-weight: bold;
  }

  .gallery {
    position: relative;
    display: inline-block;
    left: 70%;
    top: 23vh;
    z-index: 10;
  }
}