.socialNetworks {
  display: flex;
  gap: 32px;
  align-items: center;


  &Link {
    color: white;
    text-indent: -1234em;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    transition: all 0.5s;


    &:hover,
    &:visited {
      color: white;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &Info {
    background-image: url('./images/info.png');
    background-size: 100% auto;
    //pointer-events: none;
  }

  &Twitter {
    background-image: url('./images/twitter_icon.svg');
    background-size: 90% auto;
  }

  &AntDesign {
    background-image: url('./images/ant-design-icon.svg');
  }
}

.modalStyle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  //background: #4D2A32;
  background: url("../../public/images/Louvre/Sculptures_one_Compressed.jpg") no-repeat center center;


  z-index: 9999;
}

.footer {
  gap: 25px;
}